---
import BaseHead from "../components/layouts/baseLayout/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";
import { ViewTransitions } from "astro:transitions";
import BaseHeader from "../components/layouts/baseLayout/BaseHeader.astro";
import BaseFooter from "../components/layouts/baseLayout/BaseFooter.astro";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION, ogType, linksMenu } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lofi">
	<head>
		<BaseHead title={title} description={description} image={image} ogType={ogType} />
		{TRANSITION_API && <ViewTransitions />}
	</head>

	<body class="bg-neutral-100">
		<BaseHeader linksMenu={linksMenu} />
		<slot />
		<BaseFooter linksMenu={linksMenu} />
		<script>
			import gsap from "gsap";
			import { ScrollTrigger } from "gsap/ScrollTrigger";
			const gsapAny: any = gsap;
			gsapAny.registerPlugin(ScrollTrigger);
			console.log("window.gsap", window.gsap);

			window.gsap = gsapAny;
		</script>
	</body>
</html>
